<div class="container">
  <br /> 
  <div class="error">
    <label id="errMsg"></label>
  </div>  
<table class="table">
<tr>
  <td><b>Username:</b></td>
  <td><input type="text" [(ngModel)]="data.UserName" class="form-control"></td>  
</tr>
    <tr>
        <td><b>Password:</b></td>
        <td><input type="password" [(ngModel)]="data.Password" class="form-control"></td>
        <td colspan="2">&nbsp;</td>
        <td colspan="2">&nbsp;</td>
    </tr>
<tr>
 <td colspan="2" style="text-align: center;">
  <br/>
  <button class="btn" (click)="Submit()">Submit</button>
 </td>            
</tr>
</table>
</div>